body {
    background-color: #000;
}

.background {
    background-image: url("../images/background_dark.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(7px);
}

.text {
    text-align: center;
    color: #f2f2f2;
}

h1 {
    font-size: 70px;
    color: #f2f2f2;
}

p {
    font-size: 30px;
    color: #f2f2f2;
}

.image {
    text-align: center;
}