body {
    background-color: #000;
}

.background {
    background-image: url("../images/background_dark.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(7px);
}

#navbar {
    width: 95%;
    position: absolute;
    top: 0;
    right: 20;
}

#navbar>ul {
    text-align: center;
}

a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
}

a:hover {
    background-color: #ddd;
    color: black;
}

#navbar>ul>li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}