@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #202020;
}

a {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

p, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 300%;
    color: #fff;
    text-align: center;
}

@media (max-width: 1920px) {
    .leaderboard-background {
        height: 120% !important;
    }

    #legend {
        padding-top: 3%;
    }

    #card>div {
        font-size: 150% !important;
    }

    .challengeTitle {
        font-size: 200% !important;
    }
}

@media (max-width: 600px) {
    .challengeDiv {
        display: none !important;
    }

    #navbar>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #leaderboard {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #leaderboard>div {
        font-size: 50% !important;
    }

    #leaderboard>div>img {
        width: 10% !important;
        height: 10% !important;
    }

    #leaderboard :nth-last-child(1) {
        padding-bottom: 2px !important;
    }

    .leaderboard-background {
        width: 100% !important;
    }

    .logo {
        position: relative !important;
        width: 44% !important;
        margin: 0 auto !important;
    }

    .next {
        font-size: 150% !important;
        margin-top: 2% !important;
    }   

    .back {
        font-size: 150% !important;
        margin-top: 2% !important;
    }
}

.background {
    background-image: url("../images/background_dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    width: 100%;
    height: 20vh;
    text-align: center;
}

#navbar>ul {
    text-align: center;
    padding: 0;
}

#navbar>ul>li>a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
}

#navbar>ul>li>a:hover {
    background-color: #ddd;
    color: black;
}

#navbar>ul>li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#leaderboard {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.row {
    transition: 0.5s;
    height: 5%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    animation: SlideIn 1s ease-in-out;
    cursor: pointer;
}

.row:hover {
    transition: 0.5s;
    background-color: #333;
}

.row:hover .rowContent {
    transition: 0.5s;
    background-color: #333;
}

h1 {
    color: #f2f2f2;
}

h2 {
    color: #f2f2f2;
    font-size: 150%;
}

h3 {
    color: #f2f2f2;
    font-size: 125%;
}

.leaderboard-background {
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    width: 60%;
    height: 92%;
    z-index: -1;
    border-radius: 10px;
    content: "";
}

.rowContent {
    transition: 0.5s;
    display: flex;
    align-items: center;
    margin: 0;
}

#leaderboard>div>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#rank {
    width: 15%;
    margin-left: 5%;
}

#name {
    width: 30%;
    margin-left: 5%;
}

#vcpDiv {
    width: 55%;
    text-align: center;
}

#value {
    width: 45%;
    margin-left: 10%;
}

#cp {
    width: 45%;
    margin-left: 10%;
}

#rankL {
    margin-left: 4%;
    width: 50%;
}

#cpL {
    width: 26.5%;
}

.next {
    float: right;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
}

.next:hover {
    color: #fad000;
}

.back {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
}

.back:hover {
    color: #fad000;
}

.logo {
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}

.challengeDiv {
    position: absolute;
    z-index: 100;
    color: #fff;
    height: 100%;
    width: 100%;
}

.challengeBackground {
    background-color: #141414;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.challengeTitle {
    position: absolute;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 300%;
    color: #f2f2f2;
}

#card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card>div {
    display: inline-block;
    margin-top: 15%;
    width: 20%;
    font-size: 200%;
    text-align: center;
    margin-left: 4%;
    height: 1%;
    text-align: justify;
}

#card>div:nth-child(1) {
    margin-left: 0;
}

#easy {
    z-index: 90;
    transition: 1s ease-in-out;
}

#easyLine {
    background-color: #03f46b;
    height: 10px;
}

#easy:hover {
    box-shadow: 0 0 3px #03f46b,
        0 0 5px #03f46b,
        0 0 13px #03f46b,
        0 0 40px #03f46b;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#medium {
    z-index: 80;
    transition: 1s ease-in-out;
}

#mediumLine {
    background-color: #f4d03f;
    height: 10px;
}

#medium:hover {
    box-shadow: 0 0 3px #f4d03f,
        0 0 5px #f4d03f,
        0 0 13px #f4d03f,
        0 0 40px #f4d03f;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#hard {
    z-index: 70;
    transition: 1s ease-in-out;
}

#hardLine {
    background-color: #f31212;
    height: 10px;
}

#hard:hover {
    box-shadow: 0 0 3px #f31212,
        0 0 5px #f31212,
        0 0 13px #f31212,
        0 0 40px #f31212;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#extreme {
    z-index: 60;
    transition: 1s ease-in-out;
}

#exLine {
    background-color: #a112f3;
    height: 10px;
}

#extreme:hover {
    box-shadow: 0 0 3px #a112f3,
        0 0 5px #a112f3,
        0 0 13px #a112f3,
        0 0 40px #a112f3;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.footer {
    text-align: center;
    font-size: 200%;
    background: #0f0f0f;
    color: #fff;
    padding: 10px;
    margin-top: 100px;
    order: 99;
}

.footer a {
    color: #ffab2e;
    text-decoration: underline;
}