@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

@keyframes Spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1440deg);
    }
}

body {
    margin: 0;
    background-color: #202020;
    font-family: 'Heebo', sans-serif;
}

a {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

body {
    background-color: #202020;
    margin: 0;
}

h2 {
    font-size: 300%;
    color: #fff;
    text-align: center;
}

@media (max-width: 1920px) {
    #card>div {
        font-size: 150% !important;
    }
}

@media (max-width: 600px) {
    .challengeDiv {
        display: none !important;
    }

    #items {
        flex-direction: column !important;
        width: 100% !important;
    }

    .item {
        width: 80% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

.background {
    background-image: url("../images/background_dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    width: 100%;
    height: 20vh;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar>ul {
    text-align: center;
    padding: 0;
}

#navbar>ul>li>a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 200%;
}

#navbar>ul>li>a:hover {
    background-color: #ddd;
    color: black;
}

#navbar>ul>li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.item-name {
    font-size: 200%;
    color: #fff;
    text-align: center;
}

.item-price {
    font-size: 200%;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 300%;
    color: #fff;
    text-align: center;
}

#shop {
    margin: 0 auto;
}

#items {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    background-color: #000;
    margin: 0.5%;
    display: inline-block;
    text-align: center;
    width: 18%;
    cursor: pointer;
}

.item-image {
    width: 55%;
}

.legendary {
    border: 3px solid #ffcc00;
    transition: 1s ease-in-out;
}

.legendary:hover {
    border: 3px solid #ffcc00;
    box-shadow: 0 0 10px #ffcc00, 0 0 40px #ffcc00, 0 0 80px #ffcc00;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.epic {
    border: 3px solid #cc00ff;
    transition: 1s ease-in-out;
}

.epic:hover {
    border: 3px solid #cc00ff;
    box-shadow: 0 0 10px #cc00ff, 0 0 40px #cc00ff, 0 0 80px #cc00ff;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.rare {
    border: 3px solid #00ccff;
    transition: 1s ease-in-out;
}

.rare:hover {
    border: 3px solid #00ccff;
    box-shadow: 0 0 10px #00ccff, 0 0 40px #00ccff, 0 0 80px #00ccff;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.uncommon {
    border: 3px solid #00ff00;
    transition: 1s ease-in-out;
}

.uncommon:hover {
    border: 3px solid #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.common {
    border: 3px solid #cccccc;
    transition: 1s ease-in-out;
}

.common:hover {
    border: 3px solid #cccccc;
    box-shadow: 0 0 10px #cccccc, 0 0 40px #cccccc, 0 0 80px #cccccc;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    content: '';
}

.got {
    font-size: 30px;
    color: #f2f2f2;
    z-index: 2;
    width: 50%;
    height: 50%;
    text-align: center;
    padding-top: 5%;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 101;
}

.got>button {
    font-size: 20px;
    color: #f2f2f2;
    background-color: #4c63af;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    z-index: 101;
}

.diceHolder {
    position: absolute;
    text-align: center;
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    z-index: 101;
}

.dice {
    margin: 0 auto;
    animation: Spin 2s ease-in-out;
    z-index: 101;
}

.back {
    text-align: center;
    cursor: pointer;
}

.challengeDiv {
    position: absolute;
    z-index: 100;
    color: #fff;
    height: 100%;
    width: 100%;
}

.challengeBackground {
    background-color: #141414;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.challengeTitle {
    position: absolute;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 200%;
    color: #f2f2f2;
}

#card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card>div {
    display: inline-block;
    margin-top: 15%;
    width: 20%;
    font-size: 200%;
    text-align: center;
    margin-left: 4%;
    height: 1%;
    text-align: justify;
}

#card>div:nth-child(1) {
    margin-left: 0;
}

#easy {
    z-index: 90;
    transition: 1s ease-in-out;
}

#easyLine {
    background-color: #03f46b;
    height: 10px;
}

#easy:hover {
    box-shadow: 0 0 3px #03f46b,
        0 0 5px #03f46b,
        0 0 13px #03f46b,
        0 0 40px #03f46b;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#medium {
    z-index: 80;
    transition: 1s ease-in-out;
}

#mediumLine {
    background-color: #f4d03f;
    height: 10px;
}

#medium:hover {
    box-shadow: 0 0 3px #f4d03f,
        0 0 5px #f4d03f,
        0 0 13px #f4d03f,
        0 0 40px #f4d03f;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#hard {
    z-index: 70;
    transition: 1s ease-in-out;
}

#hardLine {
    background-color: #f31212;
    height: 10px;
}

#hard:hover {
    box-shadow: 0 0 3px #f31212,
        0 0 5px #f31212,
        0 0 13px #f31212,
        0 0 40px #f31212;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#extreme {
    z-index: 60;
    transition: 1s ease-in-out;
}

#exLine {
    background-color: #a112f3;
    height: 10px;
}

#extreme:hover {
    box-shadow: 0 0 3px #a112f3,
        0 0 5px #a112f3,
        0 0 13px #a112f3,
        0 0 40px #a112f3;
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.logo {
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}

.footer {
    text-align: center;
    font-size: 200%;
    background: #0f0f0f;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
    order: 99;
}

.footer a {
    color: #ffab2e;
    text-decoration: underline;
}