@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .LeaderboardContainer {
    @apply mx-auto w-full xl:w-auto xl:max-w-[1280px];
    @apply bg-gradient-to-t from-[#26262600] via-[#2626263a] to-[#2626267e];
    @apply rounded-none xl:rounded-2xl p-0 xl:p-4;
  }
  .LeaderboardHeader {
    @apply flex items-center;
    @apply bg-[#0000003b] xl:rounded-t-2xl;
    @apply py-4 pl-4 xl:pl-0;
  }
  .LeaderboardList {
    @apply mt-2;
  }
  .LeaderboardEntry {
    @apply flex items-center;
    @apply py-2 pl-4 xl:pl-0;
  }
  .LBHeaderText {
    @apply text-white;
    @apply font-normal;
    @apply text-xs xl:text-[16px];
  }
  .LBEntryText {
    @apply text-white;
    @apply font-normal;
    @apply text-xs xl:text-[16px];
  }
  .LBR {
    @apply flex content-center justify-center items-center;
    @apply w-[50px] xl:w-[100px];
  }
  .LBU {
    @apply flex content-center justify-start items-center;
    @apply pl-3;
    @apply min-w-[200px] xl:min-w-[400px];
  }
  .LBC {
    @apply md:content-center md:justify-center md:items-center;
    @apply hidden md:flex;
    @apply min-w-[150px] md:min-w-[300px] truncate;
  }
  .LBS {
    @apply flex content-center justify-center items-center;
    @apply w-full xl:w-[150px];
  }
  .LBBorder {
    @apply absolute inset-0 object-cover scale-[145%] z-10;
  }
  .LBPFP {
    @apply rounded-full relative drop-shadow-PFPShadow;
  }
}
