@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hikou";
  src: url("/assets/fonts/Hikou.woff2") format("woff2");
}

@layer base {
  body {
    @apply font-poppins text-white;
    @apply bg-auto;
    @apply bg-[url('/assets/images/BackgroundImage.png')];
    @apply bg-[#1b1b1b];
    @apply bg-no-repeat;
    @apply backdrop-filter backdrop-blur-[5px];
    @apply transition-all duration-500;
    @apply overflow-x-hidden;
  }

  .flexCol {
    @apply flex flex-col;
  }
  .smoothTran {
    @apply transition-all duration-200 ease-in-out;
  }

  .allDiv {
    @apply relative top-0 hd:top-[-5%];
  }
}

@layer components {
  #__next {
    @apply flex flex-col justify-between;
    @apply h-screen w-screen;
  }
}
