@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
  }
  body {
    @apply font-poppins text-white;
    @apply bg-cover;
    @apply bg-[url('/assets/images/BackgroundImage.png')];
  }
  .allDiv {
    @apply relative top-[-5%];
  }
  .easyFade {
    @apply bg-gradient-to-l from-easyreq to-[#ffffff];
  }
  .normalFade {
    @apply bg-gradient-to-l from-normalreq to-[#ffffff];
  }
  .hardFade {
    @apply bg-gradient-to-l from-hardreq to-[#ffffff];
  }
  .expertFade {
    @apply bg-gradient-to-l from-expertreq to-[#ffffff];
  }
}
