@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .notifOuterDiv {
    @apply pointer-events-none fixed inset-0 flex items-start px-4 py-6 sm:p-6 z-[10000];
  }

  .transfDiv {
    @apply flex w-full flex-col items-center space-y-4 sm:items-end;
  }

  .transf {
    &.enter {
      @apply transform ease-out duration-300 transition;
    }

    &.enterFrom {
      @apply translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2;
    }

    &.enterTo {
      @apply translate-y-0 opacity-100 sm:translate-x-0;
    }

    &.leave {
      @apply transition ease-in duration-100;
    }

    &.leaveFrom {
      @apply opacity-100;
    }

    &.leaveTo {
      @apply opacity-0;
    }
  }

  .icon {
    @apply h-6 w-6;

    &.success {
      @apply text-green-400;
    }

    &.warning {
      @apply text-yellow-400;
    }

    &.error {
      @apply text-red-400;
    }

    &.information {
      @apply text-blue-400;
    }
  }

  .notifInnerDiv {
    @apply pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-[#141414ef] shadow-lg ring-2 ring-sqyellow ring-opacity-5;
  }

  .notifTextDiv {
    @apply ml-3 w-0 flex-1 pt-0.5;
  }

  .notifTextP {
    @apply text-sm font-medium text-white whitespace-pre-line;
  }

  .notifCloseBtnDiv {
    @apply ml-4 flex flex-shrink-0;
  }

  .notifCloseBtn {
    @apply inline-flex rounded-md bg-[#141414f6] text-sqyellow hover:text-sqyellowfaint focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  }
}
